.mv-content {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,.2);
  &-header {
    background-color: #E4EBF5;
    padding: 20px;
    display: flex;
    align-items: center;
    span {
      color: #ACACAC;
    }
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: #ACACAC;
      }
    }
    &-title {
      margin-left: auto;
      font-size: 18px;
      color: #ACACAC;
      font-weight: 400;
    }
  }
  &-body {
    padding: 20px;
  }
}