.mv-input {
  background-color: #E4EBF5;
  border: none;
  border-radius: 40px;
  outline: none;
  padding: 20px 40px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
}