.mv-btn {
  background-color: #E4EBF5;
  color: #909090;
  text-align: center;
  display: block;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 6px rgba(0,0,0,.08);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  &-primary {
    background-color: #EC6212;
    color: #fff;
    transition: .2s all ease-in;
    &:hover {
      background-color: lighten( #EC6212, 10%)
    }
  }
  &-danger {
    background-color: #EC1212;
    color: #fff;
    transition: .2s all ease-in;
    &:hover {
      background-color: lighten( #EC1212, 10%)
    }
  }

  &-lg {
    font-size: 1.4rem;
  }
}